[build]
builder = "DOCKERFILE"
dockerfilePath = "Dockerfile"
noCache = true

[deploy]
healthcheckPath = "/health"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 3
